#text_blocks{
  position: absolute;
  border: 10px solid #E2DDDF;
  width: 1191.61px;
  height: 680px;
  left: 88px;
  top: 143px;
  overflow:hidden;
  }
#bio{
  position: absolute;
  border: 7px solid #E2DDDF;
  width: 857.61px;
  height: 800px;
  left: 334px;
  margin-top: 0px;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  font-size: 38.7188px;
  color: #85EBD9;
  }
#photo{
  position: absolute;
  width: 156px;
  height: 212px;
  left: 30px;
  top: 30px;
  }
#contact{
  position: absolute;
  width: 309px;
  height: 401px;
  left: 20px;
  top: 220px;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #02D7F2;
  }
