a:link{
	color: #85EBD9;
	}

a:visited{
	color: #85EBD9;
	}

a:hover{
	color: #FD0130;
	}

a:active{
	color: #FD0130;
	}

body{
	position: absolute;
	width: 1366px;
	background: #2F404D;
	}

.text{
	position: relative;
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 700;
	font-size: 38.7188px;
	color: #85EBD9;
	}
