@font-face {
    font-family: 'Chakra Petch';
    src: local('Chakra Petch Light'), local('ChakraPetch-Light'), url('Chakrapetchlight.woff2') format('woff2'), url('Chakrapetchlight.woff') format('woff'), url('Chakrapetchlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Chakra Petch';
    src: local('Chakra Petch Regular'), local('ChakraPetch-Regular'), url('Chakrapetchregular.woff2') format('woff2'), url('Chakrapetchregular.woff') format('woff'), url('Chakrapetchregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Chakra Petch';
    src: local('Chakra Petch SemiBold'), local('ChakraPetch-SemiBold'), url('Chakrapetchsemibold.woff2') format('woff2'), url('Chakrapetchsemibold.woff') format('woff'), url('Chakrapetchsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Chakra Petch';
    src: local('Chakra Petch Italic'), local('ChakraPetch-Italic'), url('Chakrapetchitalic.woff2') format('woff2'), url('Chakrapetchitalic.woff') format('woff'), url('Chakrapetchitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Chakra Petch';
    src: local('Chakra Petch Medium Italic'), local('ChakraPetch-MediumItalic'), url('Chakrapetchmediumitalic.woff2') format('woff2'), url('Chakrapetchmediumitalic.woff') format('woff'), url('Chakrapetchmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Chakra Petch';
    src: local('Chakra Petch Light Italic'), local('ChakraPetch-LightItalic'), url('Chakrapetchlightitalic.woff2') format('woff2'), url('Chakrapetchlightitalic.woff') format('woff'), url('Chakrapetchlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Chakra Petch';
    src: local('Chakra Petch Medium'), local('ChakraPetch-Medium'), url('Chakrapetchmedium.woff2') format('woff2'), url('Chakrapetchmedium.woff') format('woff'), url('Chakrapetchmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Chakra Petch';
    src: local('Chakra Petch Bold Italic'), local('ChakraPetch-BoldItalic'), url('Chakrapetchbolditalic.woff2') format('woff2'), url('Chakrapetchbolditalic.woff') format('woff'), url('Chakrapetchbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Chakra Petch';
    src: local('Chakra Petch SemiBold Italic'), local('ChakraPetch-SemiBoldItalic'), url('Chakrapetchsemibolditalic.woff2') format('woff2'), url('Chakrapetchsemibolditalic.woff') format('woff'), url('Chakrapetchsemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Chakra Petch';
    src: local('Chakra Petch Bold'), local('ChakraPetch-Bold'), url('Chakrapetchbold.woff2') format('woff2'), url('Chakrapetchbold.woff') format('woff'), url('Chakrapetchbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
